<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Permisos necesarios -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.JMG_ASCENSORES"
        tools:targetApi="31">

        <!-- Aquí va la clave de la API de Google Maps -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAzvjPshVi9uQUokL7uZ_ZJovSircoZMF4" />

        <!-- Actividades de la aplicación -->
        <activity android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Otras actividades de la aplicación -->
        <activity android:name=".OpcionesActivity" android:exported="true" />
        <activity android:name=".MainActivity" android:exported="true" />
        <activity android:name=".AdminActivity" android:exported="true" />
        <activity android:name=".VistaAdmin"></activity>
        <activity android:name=".VistaCliente" android:exported="true"/>
        <activity android:name=".RegistroClienteTrabajador" android:exported="true"/>
        <activity android:name=".Trabajadorcliente" android:exported="true"/>
        <activity android:name=".HistorialMantenimiento" android:exported="true"/>
        <activity android:name=".ClienteNuevo" android:exported="true"/>
        <activity android:name=".TrabajadorNuevo" android:exported="true"/>
        <activity android:name=".Ascensor" android:exported="true"/>
        <activity android:name=".Mantenimiento" android:exported="true"/>
        <activity android:name=".MainActivityTrabajador" android:exported="true" />
        <activity android:name=".TrabajadorActivity" android:exported="true" />
        <activity android:name=".RegistroTrabajadorActivity" android:exported="true" />
        <activity android:name=".IniciarSesionCliente" android:exported="true" />
        <activity android:name=".Tareas_empresa" android:exported="true" />
        <activity android:name=".VistaProxMan" android:exported="true" />
        <activity android:name=".Ascensor_Cliente" android:exported="true" />
        <activity android:name=".MapsActivity" android:exported="true" />
        <activity android:name=".TrabajadorTareaActivity" android:exported="true" />
        <activity android:name=".Confirmacion_trabajador" android:exported="true" />
        <activity android:name=".Tarea" android:exported="true" />
    </application>
</manifest>
