<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Permisos necesarios -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.JMG_ASCENSORES"
        tools:targetApi="31">

        <!-- Aquí va la clave de la API de Google Maps -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAzvjPshVi9uQUokL7uZ_ZJovSircoZMF4" />

        <!-- Actividades de la aplicación -->
        <activity android:name=".Splash"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Otras actividades de la aplicación -->
        <activity android:name=".Home_Main" android:exported="true" />
        <activity android:name=".Home_Admin"></activity>
        <activity android:name=".Home_Cliente" android:exported="true"/>
        <activity android:name=".View_Registrar" android:exported="true"/>
        <activity android:name=".View_AsignarCliente" android:exported="true"/>
        <activity android:name=".View_HistorialMantenimiento" android:exported="true"/>
        <activity android:name=".View_ClienteNuevo" android:exported="true"/>
        <activity android:name=".View_RegTrab" android:exported="true"/>
        <activity android:name=".DB_RegAscensor" android:exported="true"/>
        <activity android:name=".DB_Mantenimiento" android:exported="true"/>
        <activity android:name=".Home_Trab" android:exported="true" />
        <activity android:name=".View_RegTrab2" android:exported="true" />
        <activity android:name=".View_TareasEmpresa" android:exported="true" />
        <activity android:name=".View_ProxManten" android:exported="true" />
        <activity android:name=".View_InfoAscensor" android:exported="true" />
        <activity android:name=".View_Maps" android:exported="true" />
        <activity android:name=".View_TrabajadorTarea" android:exported="true" />
        <activity android:name=".View_ConfirmacionTrab" android:exported="true" />
        <activity android:name=".DB_Tarea" android:exported="true" />
    </application>
</manifest>
